.main {
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
}

.score {
  font-size: 20px;
  font-family: monospace;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scoreResult {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgmButton{
  border-radius: 100vh;
  width: 100px;
  font-size: 20px;
  font-family: monospace;
  background: white;
  margin: auto;
  text-align: center;
}
