/*
ここにHTMLを書く(タグは以下に記載のexplainTextを利用する)
<参考: https://developer.mozilla.org/ja/docs/Learn/HTML/Introduction_to_HTML/HTML_text_fundamentals
*/

<<<<<<< HEAD
/* explainText classを変更して、文字を装飾してみよう */
=======
/* explainText classを変更して、文字を装飾してみよう */
>>>>>>> 5bc94ebccea3cb93e1f2707fc23b747d25d56a48
.explainText {
  font-family: monospace;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
<<<<<<< HEAD
=======
>>>>>>> 5bc94ebccea3cb93e1f2707fc23b747d25d56a48
